name: Publish to Minepkg.io
on:
  release:
    types: [created]

jobs:
  publish:
    strategy:
      matrix:
        java: [ 17 ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup JDK ${{ matrix.java }}
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: 'temurin'

      - name: Publish release on minepkg.io
        uses: minepkg/action-publish@main
        with:
          api-key: ${{secrets.MINEPKG}}
